<%= render "layouts/decidim/application" do %>
  <%= participatory_space_floating_help %>
  <%= cell(voting_header.manifest.cell, voting_header) if current_participatory_space %>
  <%= cell "decidim/translation_bar", current_organization %>
  <%= yield %>

  <% if content_for? :expanded %>
    <div class="expanded">
      <div class="wrapper wrapper--inner">
        <div class="row">
          <%= yield :expanded %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
