<%= render "layouts/decidim/application" do %>
  <%= cell(voting_header.manifest.cell, voting_header) if voting_header %>

  <div class="wrapper">
    <%= cell "decidim/translation_bar", current_organization %>
    <%= yield %>
  </div>
  <% if content_for? :expanded %>
    <div class="expanded">
      <div class="wrapper wrapper--inner">
        <div class="row">
          <%= yield :expanded %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
